In [2]:
import pandas as pd

In [24]:
df = pd.read_csv("/Users/hubingbing/Downloads/Duplicate_taxid/taxonomy.tsv", sep="\t")

In [25]:
df

,tax_id,species,genus,family,order,class,phylum,clade,superkingdom,subspecies,species subgroup,species group
0,622671,Desulfobotulus alkaliphilus,Desulfobotulus,Desulfobacteraceae,Desulfobacterales,Deltaproteobacteria,Proteobacteria,NaN,Bacteria,NaN,NaN,NaN
1,1338382,Desulfitobacterium sp. PR,Desulfitobacterium,Desulfitobacteriaceae,Eubacteriales,Clostridia,Firmicutes,Terrabacteria group,Bacteria,NaN,NaN,NaN
2,1610527,Devosia honganensis,Devosia,Devosiaceae,Hyphomicrobiales,Alphaproteobacteria,Proteobacteria,NaN,Bacteria,NaN,NaN,NaN
3,426706,Desulfomicrobium aestuarii,Desulfomicrobium,Desulfomicrobiaceae,Desulfovibrionales,Deltaproteobacteria,Proteobacteria,NaN,Bacteria,NaN,NaN,NaN
4,81459,Entomoplasma melaleucae,Entomoplasma,Entomoplasmataceae,Entomoplasmatales,Mollicutes,Tenericutes,Terrabacteria group,Bacteria,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
47558,171390,Chroococcidiopsis sp. BB96.1,Chroococcidiopsis,Chroococcidiopsidaceae,Chroococcidiopsidales,NaN,Cyanobacteria,Terrabacteria group,Bacteria,NaN,NaN,NaN
47559,171290,Mycoplasma oxoniensis,Mycoplasma,Mycoplasmataceae,Mycoplasmatales,Mollicutes,Tenericutes,Terrabacteria group,Bacteria,NaN,NaN,NaN
47560,171388,Chroococcidiopsis sp. BB82.3,Chroococcidiopsis,Chroococcidiopsidaceae,Chroococcidiopsidales,NaN,Cyanobacteria,Terrabacteria group,Bacteria,NaN,NaN,NaN
47561,171387,Chroococcidiopsis sp. BB79.2,Chroococcidiopsis,Chroococcidiopsidaceae,Chroococcidiopsidales,NaN,Cyanobacteria,Terrabacteria group,Bacteria,NaN,NaN,NaN
47562,171395,Fischerella sp. BB98.1,Fischerella,Hapalosiphonaceae,Nostocales,NaN,Cyanobacteria,Terrabacteria group,Bacteria,NaN,NaN,NaN

In [26]:
boolean_series = df.duplicated(subset=["tax_id"])

In [42]:
repeats = df["tax_id"][boolean_series]

In [44]:
print(repeats.size)

246

In [45]:
print(type(repeats))

<class 'pandas.core.series.Series'>

In [47]:
repeats

897         1428
4063         623
8264        1894
8641        1245
15318        358
          ...
47535    1534743
47541    2083055
47542     142651
47543    2083054
47544       2122
Name: tax_id, Length: 246, dtype: int64

In [54]:
repeated_id_str = ""
for i in repeats:
    repeated_id_str += str(i)+", "
print(repeated_id_str[:-2])

1428, 623, 1894, 1245, 358, 13687, 1883, 1886637, 584, 307643, 1532905, 1696, 531938, 714, 47760, 1883, 53445, 332101, 286, 298, 395600, 698769, 1089306, 1841, 32008, 2056873, 1961, 67384, 32046, 1883, 84567, 71190, 1649279, 476, 51669, 394095, 2236, 413401, 496866, 157076, 330922, 512649, 930805, 371036, 727, 1921578, 577492, 1074311, 317, 535712, 81034, 43997, 28189, 1486246, 53462, 2093, 691, 44249, 306, 813, 381300, 2093, 669, 223527, 2093, 1458492, 2093, 2093, 1882268, 316, 1935978, 76832, 256, 669, 1283291, 33, 83456, 77097, 1917449, 316, 1126240, 29284, 65093, 261685, 395935, 452084, 215690, 1416776, 502829, 669, 669, 669, 44933, 370769, 1534743, 588898, 2337, 2093, 2746, 35622, 286, 1827300, 1508420, 1508419, 2093, 44249, 2104, 1028989, 483539, 2109, 158080, 1278643, 669, 2093, 2093, 76630, 1346688, 1636610, 669, 1278643, 376489, 114886, 2093, 2746, 2109, 2054919, 1338689, 1278643, 2746, 1338689, 52021, 370323, 2093, 370769, 286, 52021, 444459, 413816, 376489, 253237, 413815, 1534743, 2067572, 2067572, 146785, 2336, 691825, 150396, 2093, 2104, 29557, 2054919, 1636610, 2093, 2746, 669, 2083054, 368454, 1338689, 2083054, 146785, 245294, 2093, 380547, 142651, 425309, 669, 353800, 29561, 171632, 520762, 2067572, 224312, 224312, 1500686, 329163, 28227, 1534743, 2109, 1278643, 2161724, 669, 2109, 370769, 52021, 142651, 64713, 669, 650850, 370323, 691825, 370323, 118675, 353800, 29557, 2109, 245294, 114885, 370769, 1500686, 150396, 392421, 2746, 1547897, 872983, 2746, 44933, 2054919, 376489, 2336, 2746, 1827300, 392421, 35622, 1500686, 29283, 337243, 2746, 1534743, 368454, 337243, 2083055, 48003, 2337, 286, 2746, 2107, 1338689, 171632, 416585, 2109, 44933, 1534743, 28227, 1383851, 64713, 353800, 50740, 1534743, 1500687, 380547, 1534743, 2083055, 142651, 2083054, 2122